name: CI

on:
    pull_request:
        branches: [main]
    push:
        branches: [main]

jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: pnpm/action-setup@v4
            - run: pnpm install --frozen-lockfile
            - name: Run lint
              run: pnpm run lint
            - name: Run check
              run: pnpm run check
    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: pnpm/action-setup@v4
            - run: pnpm install --frozen-lockfile
            - name: Run test
              run: pnpm test
