name: Deploy to Cloudflare Workers

on:
    push:
        branches: [main]

jobs:
    deploy-main:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: pnpm/action-setup@v4
            - run: pnpm install --frozen-lockfile
            - name: Deploy
              run: |
                  pnpm run deploy
              env:
                  CLOUDFLARE_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
                  CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CF_ACCOUNT_ID }}
